<div>
  <h1>User info</h1>
  <%= image_tag @user.get_profile_image("100x100") %>
  <h3>name<%= @user.name %></h3>
</div>

<!-- ユーザーの投稿一覧 -->

<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>

  <% end %>
  <p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image("100x100") %></p>
  <p>Title：<%= book.title %></p>
  <p>Opinion：<%= book.body %></p>
</div>
<% end %>