<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Bookers2</title>
  </head>
  <main>
    <%= flash[:notice] %>
    <div class = "container">
      <div class = "row">
        <div class = "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
          <h1>Editing Book</h1>
          <% if @book.errors.any? %>
          <div id = "error_explanation">
            <h3>
              <%= @book.errors.count %>errors prohibited this obj from being saved:
            </h3>
            <ul>
              <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
          <%= form_with model: @book, local:true do |f| %>
          <div class = "form-group">
            <div class = "field_with_errors">
              <label for="book_title">Title</label>
          </div>
          <div class = "field_with_errors">
            <%= f.text_field :title, autofocus: true, id:"inputtitle", placeholder:"Title"%>
          </div>
          </div>

          <div class = "form-group">
          <label for="inputbody">Opinion</label>
          <div class = "field_with_errors">
            <%= f.text_field :body, autofocus: true, id:"inputbody", placeholder:"Opinion"%>
          </div>
          </div>
          <input type="submit" name="commit" value="Update Book" class="btn btn-success" data-disable-with="Update Book">
          <% end %>
          <p>
          <%= link_to "Show", book_path(@book.id) %> | <%= link_to "Back", '/books' %>
          </p>
          </div>
        </div>
      </div>
  </main>