<div>
  <p>投稿ユーザー画像：<%= image_tag @book.user.get_profile_image("100x100") %></p>
  <p><%= @book.user.name %></p>
  <p><%= @book.title %></p>
  <p>説明：<%= @book.body %></p>
  <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
</div>