<h1>Book detail</h1>
<div>
  <%= image_tag @book.user.get_profile_image("100x100") %>
  <%= link_to @book.user.name,"/users/user_path(user.id)" %>
  <%= @book.title %>
  <%= @book.body %>
  <% if @book.user == current_user %>
    <%= link_to "edit", edit_book_path(@book) %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
</div>