<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
            <span>Bookers</span>
            </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

      <% if user_signed_in? %>
        <li>
          <%= link_to  user_path(current_user) do %>
          <span class="fas fa-home"></span>Home
          <% end %>
        </li>
        <li>
          <%= link_to users_path  do %>
          <span class="fas fa-users"></span>Users
          <% end %>
        </li>

        <li>
          <%= link_to books_path do %>
          <span class="fas fa-book-open"></span>Books
          <% end %>
        </li>

        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <span class="fas fa-sign-out-alt"></span>Log out
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to root_path do %>
          <span class="fas fa-home"></span>Home
          <% end %>
        </li>

        <li>
          <%= link_to about_path do %>
          <span class="fas fa-link"></span>About
          <% end %>
        </li>

        <li>
          <%= link_to new_user_registration_path do %>
          <span class="fas fa-user-plus"></span>Sign up
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
          <span class="fas fa-sign-in-alt"></span>Log in
          <% end %>
        </li>
        <% end %>
        </ul>
      </div>
      </div>
      </nav>
    </header>
    <main class="mb-auto">
    <%= yield %>
    </main>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>

    </footer>
  </body>
</html>
